---
- name: Run the platform facts module
  ansible.netcommon.network_resource:
    os_name: "{{ ansible_network_os }}"
    name: "{{ ansible_network_os }}_{{ res }}"
    state: gathered
  register: gather_result

- name: Append resource facts to a global dictionary
  ansible.builtin.set_fact:
    all_gathered_facts: >-
      {{ all_gathered_facts | default({}) | combine({ res: gather_result.gathered }) }}

- name: Display resource facts
  ansible.builtin.debug:
    msg: "{{ gather_result }}"
